body{
    background-color: #fffcf0;
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    line-height: 15pt;
}
a {
    color: black;
    text-decoration: none;
}
h1{
    font-size: 30pt;
    line-height: 0px;
    font-weight: 300;
}
h2,h3,h4,h5{
    margin-top: 2px;
    margin-bottom: 2px;
}
header{
    text-align: center;
    padding: 5px;
    line-height: 20px;
}

hr {
    border: none;
    border-bottom: solid;
    border-bottom-width: thin;
}
nav {
    float: left;
    text-align: left;
    width: 31.5%;
    height: auto;
    padding-left: 2%;
    float: left;
    
}
p{
    margin: 1px;
}
.icon{
    padding-left: 5px;
    padding-right: 5px;
}
ul{
    margin: 10px;
}
section {
    float: right;
    width: 63%;
    padding-left: 3%;
    border-left: dashed;
    border-left-width: thin;
}
#container{
    margin: 0 auto;
    /*width: 70%;*/
    padding: 10px;
}
.project{
    display: inline-block;
    width: 45%;
}
@media only screen and (max-width: 1000px) {
    #container{
        width: 100%;
    }
}

@media print {
    @page {
    margin: 0.5cm;
    }
}
